<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ButtonView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19C954641F6BDC6A004DF91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19C9547D1F6BDC6A004DF91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19C954881F6BDC6A004DF91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
